:root {
  --negro: #212125;
  --negro-puro: #000;
  --blanco: #cdcdcd;
  --blanco-puro: #ffffff;
  --blanco-fondo: #fafafd;
  --negro-header: #1d1d1f;
  --blanco-msj: #f3f3f6;
  --azul-link: #06c;
  --azul-link-dark: #2997ff;
  --gris-description: #86868b;
  --tipografia-apple: -apple-system, BlinkMacSystemFont, sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

img {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center; }

a {
  display: block;
  text-decoration: none;
  color: inherit; }

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center; }

p a {
  display: inline; }

li {
  list-style-type: none; }

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto; }

::selection {
  background-color: var(--negro);
  color: var(--blanco); }

form input,
form textarea,
form select {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: flex; }

body {
  font-family: var(--tipografia-apple);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(--blanco);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

sup {
  vertical-align: super;
  font-size: 0.5em; }

body {
  background-color: var(--blanco-fondo);
  width: 100%;
  max-width: 100%; }

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--negro-header);
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0; }
  .header__nav {
    padding: 0 22px 0 22px;
    margin: 0 208px;
    width: 1024px;
    height: 44px; }
  .header__apple {
    width: 100%;
    max-width: 16px; }
  .header__imac {
    width: 1.85714em;
    max-width: 44.2px; }
  .header__ipad {
    width: 1.92857em;
    max-width: 45.9px; }
  .header__iphone {
    width: 3.14286em;
    max-width: 74.8px; }
  .header__watch {
    width: 2.85714em;
    max-width: 68px; }
  .header__tv {
    width: 1.28571em;
    max-width: 30.6px; }
  .header__music {
    width: 2.64286em;
    max-width: 62.9px; }
  .header__support {
    width: 3.71429em;
    max-width: 88.4px; }
  .header__search {
    width: 18px;
    padding-top: 2.8em; }
  .header__imgsearch {
    clip-path: inset(0 0 2em 0);
    max-height: 80%; }
  .header__bag {
    width: 17px; }
  .header__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 44px;
    margin: 0 -10px; }
  .header__li {
    padding: 0 10px; }

.main {
  padding: 44px 0 0 0; }

.message {
  background-color: var(--blanco-msj);
  width: 100%;
  height: 100%; }
  .message__shopmsj {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: calc(100% -200px);
    font-weight: 400;
    font-family: "SF Pro Text", "Helvetica", "Arial";
    height: 2.75em; }
    .message__shopmsj a:hover {
      text-decoration: underline; }
  .message__shopp {
    font-size: 0.875em;
    font-style: normal;
    font-weight: 412; }
  .message__amsj {
    color: var(--azul-link);
    font-size: 0.875em;
    padding-right: 0.25em;
    font-style: normal;
    font-weight: 412; }

.iphone12 {
  width: 100%;
  height: 100%;
  padding: 3.5em 0 0 0; }
  .iphone12__h2 {
    font-family: var(--tipografia-apple);
    width: 100%;
    position: 0;
    text-align: center;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -0.005em; }
  .iphone12__h3 {
    position: 0;
    font-family: var(--tipografia-apple);
    text-align: center;
    font-size: 1.75em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    margin-top: 6px; }
  .iphone12__description {
    font-family: var(--tipografia-apple);
    margin-top: 12px;
    text-align: center; }
  .iphone12__p {
    color: var(--gris-description);
    font-weight: 395;
    line-height: 1.5em;
    font-size: 1.0625em; }
  .iphone12__pup {
    margin-top: 6.8px; }
  .iphone12__sup {
    font-size: 0.5em; }
  .iphone12__divlearnbuy {
    margin-top: 13.65px;
    text-align: center; }
    .iphone12__divlearnbuy a:hover {
      text-decoration: underline; }
  .iphone12__alearnbuy {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    cursor: auto;
    display: inline;
    color: var(--azul-link);
    font-size: 1.25em;
    line-height: 1.81em;
    letter-spacing: 0.0144em; }
  .iphone12__buy {
    margin-left: 35px; }
  .iphone12__learn {
    margin-left: 10px; }
  .iphone12__divimg {
    margin-top: -35px; }

.iphone12pro {
  background-color: var(--negro-puro);
  width: 100%;
  height: 100%;
  padding-top: 0.01em; }
  .iphone12pro__h2 {
    color: var(--blanco-puro);
    font-family: var(--tipografia-apple);
    width: 100%;
    position: 0;
    text-align: center;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -0.005em;
    padding-top: 0.9em; }
  .iphone12pro__h3 {
    color: var(--blanco-puro);
    position: 0;
    font-family: var(--tipografia-apple);
    text-align: center;
    font-size: 1.75em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    margin-top: 6px;
    padding-bottom: 0.08em; }
  .iphone12pro__description {
    font-family: var(--tipografia-apple);
    margin-top: 12px;
    text-align: center; }
  .iphone12pro__p {
    color: var(--gris-description);
    font-weight: 395;
    line-height: 1.5em;
    font-size: 1.0625em; }
  .iphone12pro__sup {
    font-size: 0.5em; }
  .iphone12pro__divlearnbuy {
    margin-top: 9px;
    text-align: center;
    margin-right: 10px; }
    .iphone12pro__divlearnbuy a:hover {
      text-decoration: underline; }
  .iphone12pro__alearnbuy {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    cursor: auto;
    display: inline;
    color: var(--azul-link-dark);
    font-size: 1.25em;
    line-height: 1.9em;
    letter-spacing: 0.011em; }
  .iphone12pro__buy {
    margin-left: 35px; }
  .iphone12pro__learn {
    margin-left: 10px; }
  .iphone12pro__img {
    margin-top: -11px; }

.ipad {
  background-color: var(--negro-puro);
  color: var(--blanco-puro);
  margin-top: 12px;
  width: 100%;
  height: 100%; }
  .ipad__h2 {
    color: var(--blanco-puro);
    font-family: var(--tipografia-apple);
    width: 100%;
    position: 0;
    text-align: center;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -0.005em;
    padding-top: 0.9em; }
  .ipad__h3 {
    color: var(--blanco-puro);
    position: 0;
    font-family: var(--tipografia-apple);
    text-align: center;
    font-size: 1.75em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    margin-top: 6px;
    padding-bottom: 0.08em; }
  .ipad__divlearnbuy {
    margin-top: 9px;
    text-align: center;
    margin-right: 10px; }
    .ipad__divlearnbuy a:hover {
      text-decoration: underline; }
  .ipad__alearnbuy {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    cursor: auto;
    display: inline;
    color: var(--azul-link-dark);
    font-size: 1.25em;
    line-height: 1.9em;
    letter-spacing: 0.011em; }
  .ipad__buy {
    margin-left: 35px; }
  .ipad__learn {
    margin-left: 10px; }
  .ipad__img {
    margin-top: -8px; }

.container {
  background-color: var(--blanco-puro);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 12px 0; }
  .container a:hover {
    text-decoration: underline;
    cursor: auto; }
  .container__imac {
    background-color: #fafafa;
    margin: 0 6px 0 12px; }
  .container__h4imac {
    font-family: var(--tipografia-apple);
    width: 100%;
    position: 0;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -0.005em;
    padding-top: 52.5px;
    margin-left: auto;
    margin-right: auto; }
  .container__h5imac {
    position: 0;
    font-family: var(--tipografia-apple);
    text-align: center;
    font-size: 1.3125em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto; }
  .container__divlearnbuy {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    color: var(--azul-link);
    font-size: 1.0625em;
    line-height: 1.23536;
    letter-spacing: inherit;
    font-weight: 400;
    margin-left: -3px;
    padding-top: 15px; }
  .container__alearnbuy {
    cursor: auto;
    display: inline; }
  .container__buy {
    margin-left: 28px; }
  .container__img {
    margin-top: -1.5px; }
  .container__watch {
    background-color: var(--negro-puro);
    margin: 0 12px 0 6px; }
  .container__h4watch {
    background-image: url("../assest/promo_logo_watch_series_6_lte__el1kwqt2v52e_large_2x.png");
    height: 49px;
    background-size: 128px 49px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px; }
  .container__h5watch {
    position: 0;
    font-family: var(--tipografia-apple);
    color: var(--blanco-puro);
    text-align: center;
    font-size: 1.3125em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto; }
  .container__dark {
    color: var(--azul-link-dark); }
  .container__education {
    background-image: url(../assest/promo_bts__bg3cb4kaoqoi_large_2x.jpg);
    width: 1404px;
    height: 1162px;
    margin: 12px 6px 0 12px;
    max-width: 97.5%;
    max-height: 581px;
    background-position: center;
    background-size: 1369px 576px; }
  .container__h4education {
    font-family: var(--tipografia-apple);
    width: 88%;
    text-align: center;
    font-style: normal;
    margin-top: 53px;
    padding-left: 58px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block; }
  .container__h5education {
    position: 0;
    font-family: var(--tipografia-apple);
    text-align: center;
    font-size: 1.0625em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23536;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    color: var(--azul-link); }
  .container__fitness {
    background-color: #fbfbfd;
    margin: 12px 12px 0 6px;
    max-height: 581px; }
  .container__h4fitness {
    background-image: url("../assest/logo__dcojfwkzna2q_large_2x.png");
    margin-top: 56px;
    height: 33px;
    background-size: 174px 33px;
    background-repeat: no-repeat;
    background-position: center; }
  .container__h5fitness {
    position: 0;
    font-family: var(--tipografia-apple);
    color: var(--negro-puro);
    text-align: center;
    font-size: 1.3125em;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto; }
  .container__card {
    background-color: #fbfbfd;
    margin: 12px 6px 0 12px;
    max-height: 581px; }
  .container__h4card {
    background-image: url("../assest/logo__card_dcojfwkzna2q_large_2x.png");
    margin-top: 56px;
    background-position: center;
    height: 35px;
    background-size: 125px 35px;
    background-repeat: no-repeat; }
  .container__h5card {
    position: 0;
    font-family: var(--tipografia-apple);
    color: var(--negro-puro);
    text-align: center;
    font-size: 1.3125em;
    width: 100%;
    max-width: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.07143;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto; }
  .container__tv {
    background-image: url(../assest/promo_central_park__ccu3x0kqjt9e_large_2x.jpg);
    width: 1404px;
    height: 1162px;
    margin: 12px 6px 0 12px;
    max-width: 97.5%;
    max-height: 581px;
    background-position: center;
    background-size: 1262px 580px;
    background-repeat: no-repeat; }
  .container__h4tv {
    background-image: url("../assest/tv_plus_logo_outline__bdvrd653asaa_large_2x.png");
    margin-top: 56px;
    background-position: center;
    height: 35px;
    background-size: 86px 35px;
    background-repeat: no-repeat; }
  .container__h5tv {
    background-image: url("../assest/logo_central_park__buxicfsoobxy_large_2x.png");
    margin-top: 305px;
    background-position: center;
    height: 109px;
    background-size: 219px 109px;
    background-repeat: no-repeat; }
  .container__watchnow {
    text-align: center;
    color: var(--blanco-puro);
    font-size: 1.06em;
    margin-top: 5px;
    cursor: auto; }
